.navbar {
	border-bottom: 3px outset #000;
	
}
.navbar-inner {
	background:#272221;
	border:none;
	padding:0.2em;

	a {
		text-shadow: none;
	}
	.brand {
		color:#f89406;
		font-family: Georgia, "Times New Roman", Times, serif;
		font-size: 2.5em;
		text-shadow: none;
		@media screen and (max-width: 320px) {
			font-size: 1.9em;
  	}
	}
	
	.nav > li {
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-size: 1.6em;
		font-weight: 300;
		word-spacing: 0.1em;
		letter-spacing: 0.2em;
		text-transform: uppercase;
		a {
			text-shadow: none;
		}
	}
}